.landing{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}
.text3{
    margin-top: 12%;
    color: brown;
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: white;
    -webkit-text-stroke: 2px rgb(194, 7, 7);
}

.video{
    
    min-width: 100%;
    top: 50%;
    left: 50%;

}

.text {
    position: absolute;
    color: rgb(136, 7, 7);
    justify-content: center;
    top: 27%;
    font-size: 200%;
    
    
}

.button {
    position: absolute;
    top: 50%;
    left: 47%;
    height: 40px;
    width: 80px;
    background-color: black;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    transition: 500ms; 
}

.button:hover{
    transform: scale(1.2);
}

::-webkit-scrollbar {
    display: none;
}