.OrderVideogames {
    background: linear-gradient(70deg, black, rgb(107, 5, 90));
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding-right: 30px;
    padding-bottom: 5px;
    
    
       
}